/* 
    Document   : browser
    Created on : 7 oct. 2013, 12:33:33
    Author     : guillaume
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    padding: 10px;   
    font-size: 12px !important;
}

.ui-button-text {
    padding: inherit;
}

.ui-layout {
    padding: 0 !important;
}

/* Toolbar */
    .ui-layout-north {
        padding: 0 !important;
        border: 0px !important;
    }

    .ui-layout-north, #formToolbar, #formToolbar > div {
        overflow: hidden !important;
    }
    
    .ui-toolbar-group-right input {
        margin-right: 10px;
    }

    .ui-toolbar-group-center {
        width: 146px;
        height: 31px;
        position: absolute;
        left: 50%;
        margin-left: -73px;
        font-size: 16px;
    }

    .ui-toolbar-group-center img {
        margin-bottom: -7px;
    }
    
    /* view-buttons */
        .view-buttons {
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
            background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
            background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
            background-image: linear-gradient(top, #ffffff, #e6e6e6);
            background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        }
    
        .view-buttons span {
            visibility: hidden;
        }
        
        .view-buttons .ui-state-default {
            background-color: transparent !important;
        }
        
        .view-buttons .ui-state-active {
            background-color: #e6e6e6 !important;
        }

        .view-buttons div {
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }

        .view-buttons div:hover {
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }

        .view-buttons div:nth-child(1) {
            background-image: url("../img/iconView.png") !important;
        }

        .view-buttons div:nth-child(2) {
            background-image: url("../img/listView.png") !important;
        }

        .view-buttons div:nth-child(3) {
            background-image: url("../img/galleriaView.png") !important;
        }

/* Center */
    .ui-layout-center {
        padding: 0 !important;
    }

    .ui-layout-center > * {
        padding: 0 !important;
        border-radius: 5px;
    }

    /* Breadcrumb */
        #center-topbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .ui-layout-center .ui-breadcrumb {
            border-radius: 0px;
            border: 0;
            border-bottom: 1px solid #dddddd;
        }
        
    #center-data {
        top: 31px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll;
    }

    /* Datagrid */
        .ui-layout-center .ui-datagrid-content {
            border: 0px !important;
            bottom: 0;
        }

        .browser-element {
            text-align: center;
        }

        .browser-element:hover {
            background: #F2F2F2;
            cursor: pointer;
        }
        
        .ui-datagrid td {
            width: 16% !important;
        }
        
    /* Datatable */
        .ui-datatable-tablewrapper, .ui-datatable-data {
            border-right: 0px;
            border-left: 0px;
        }
        
        .ui-datatable th {
            border-top-width: 0px !important;
            border-radius: 0px !important;
        }
        
        .ui-datatable th:last-child {
            border-right-width: 0px !important;
        }
        
        .ui-datatable th:first-child {
            border-left-width: 0px !important;
        }
        
        .ui-datatable td:last-child {
            border-right-width: 0px !important;
        }
        
        .ui-datatable .icon {
            background-image: url("../img/icon.png");
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-bottom: -3px;
        }
        
        .ui-datatable .file .icon {
            background-position: -24px -24px;
        }
        
        .ui-datatable .folder .icon {
            background-position: -384px -120px;
        }
        
        .ui-datatable tr:hover {
            background: #F2F2F2;
            cursor: pointer;
        }


.ui-layout-resizer-closed {
    border: 0 !important;
}

/* Split button */
    .ui-buttonset > *:nth-child(2),
    .ui-buttonset > *:nth-child(3),
    .ui-buttonset > *:nth-child(4),
    .ui-buttonset > *:nth-child(5) {
        border-left: 0px !important;
    }

    .button-group.ui-splitbutton {
        margin-left: 3px;
        margin-right: 7px;
    }

#javax_faces_developmentstage_messages {
    display: none;
}

/* Terminal */
    .ui-layout-south #terminal {
        border: 0 !important;
    }

/* Sidebar */
    .ui-layout-west {
        padding: 0 !important;
    }

    .ui-layout-west .ui-tree{
        border: 0 !important;
        width: 100% !important
    }

    .ui-layout-west .ui-layout-unit-header {
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        border-bottom-right-radius: 0px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
    }
    
    /* Tree node */
        .ui-treenode-label {
            background-image: url("../img/icon.png");
            background-position: -384px -120px;
            background-repeat: no-repeat;
            padding-left: 18px !important;
            display: inline-block;
            width: 0px;
            overflow: visible;
        }
        
        span.ui-icon-triangle-1-s ~ .ui-treenode-label {
            background-position: -408px -120px;
        }

/* Logout menu */
    div[id*="formToolbar"].ui-menu.ui-menu-dynamic {
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        border-top-right-radius: 0px;
        -webkit-border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        border-top-left-radius: 0px;
    }

button:focus {
    outline: none !important;
}

/* Create folder dialog */
#formCreateFolder td:first-child{
    text-align: right;
    padding-right: 10px;
}

#formCreateFolder tr:last-child td{
    text-align: center;
}

/* Galleria */
.ui-galleria {
    position: absolute !important;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 0 !important;
}

.ui-galleria-filmstrip-wrapper {
    position: absolute !important;
    bottom:0;
    right: 30px;
    left: 30px;
    width: 100% !important;
    z-index: 0;
}

.ui-galleria .ui-galleria-panel-wrapper li {
    text-align: center;
    width: 100% !important;
}

.ui-galleria .image {
    max-height: 90%;
}

.ui-galleria, .ui-galleria-caption, .ui-galleria-panel-wrapper {
    width: 99% !important;
}

.ui-galleria-nav-prev, .ui-galleria-nav-next {
    z-index:100;
}