/* 
    Document   : browser
    Created on : 7 oct. 2013, 12:33:33
    Author     : guillaume
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-button-text {
    padding: inherit;
}

.ui-layout {
    padding: 0 !important;
}

.ui-layout-north {
    padding: 0 !important;
    border: 0px !important;
    overflow: hidden;
}

.ui-layout-center {
    padding: 0 !important;
}

.ui-layout-center > * {
    padding: 0 !important;
    border-radius: 5px;
}

.ui-layout-center .ui-breadcrumb {
    border-radius: 0px;
    border: 0;
}

.ui-layout-center .ui-datagrid-content {
    border-right: 0px !important;
    border-left: 0px !important;
    border-bottom: 0px !important;
    bottom: 0;
    top: 30px;
    position: absolute;
    right: 0;
    left: 0;
    overflow-y: scroll;
}

.ui-layout-resizer-closed {
    border: 0 !important;
}

body {
    padding: 10px;   
    font-size: 12px !important;
}

.ui-splitbutton button:last-of-type {
    border-left: 0px;
}

.button-group.ui-splitbutton {
    margin-left: 3px;
    margin-right: 7px;
}

.ui-icon-list {
    background-image: url("../img/icon.png") !important;
    background-position: -263px 0 !important;
}

.ui-icon-th-large {
    background-image: url("../img/icon.png") !important;
    background-position: -215px 0 !important;
}

.ui-icon-backward {
    background-image: url("../img/icon.png") !important;
    background-position: -431px -72px !important;
}

.ui-icon-forward {
    background-image: url("../img/icon.png") !important;
    background-position: -455px -72px !important;
}

.ui-icon-user {
    background-image: url("../img/icon.png") !important;
    background-position: -167px 0 !important;
}

.ui-icon-upload {
    background-image: url("../img/icon.png") !important;
    background-position: -287px -144px;
}

.ui-icon-download {
    background-image: url("../img/icon.png") !important;
    background-position: -311px -144px !important;
}

.ui-toolbar-group-right input {
    margin-right: 10px;
}

#javax_faces_developmentstage_messages {
    display: none;
}

.ui-layout-south #terminal {
    border: 0 !important;
}

.browser-element {
    text-align: center;
}

.browser-element:hover {
    background: #EEEEEE;
}

.ui-layout-west {
    padding: 0 !important;
}

.ui-layout-west .ui-tree{
    border: 0 !important;
    width: 100% !important
}

.ui-layout-unit-header {
    border-radius: 0px !important;
}

